body {
     font-family: 'PT Serif', serif;
     background-color: #d9edeb;
}
 .main {
     width: 342px;
     border: 1px solid #eee;
     padding: 0 20px 20px 20px;
     box-sizing: border-box;
     margin: 10% auto;
     background-color: white;
     box-shadow: 5px 5px 0 rgba(153, 177, 175, 0.5);
}
 h3 {
     text-transform: uppercase;
     margin: 10px 0 10px 0;
     padding: 10px 0 10px 10px;
     border: 1px solid #eee;
}
 .description {
     border: 1px solid #eee;
     padding: 10px;
     margin-top: 10px;
}
 .fact {
     font-style: italic;
     margin-top: 10px;
}
 ul {
     list-style: none;
     margin: 10px 0;
     padding: 0;
}
 span {
     font-weight: bold;
}
